<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <vtex:metaTags />
  <link rel="stylesheet" href="/arquivos/inmmerce59.css" />
</head>

<body>
  <!-- Header -->
  <vtex:template id="00-header" />

  <!-- Full banner -->
  <div class="banner">
    <vtex:contentPlaceHolder id="Full Banner" />
  </div>

  <!-- Main -->
  <main role="main" id="main" class="warp">
    <div class="halfBanner">
      <vtex:contentPlaceHolder id="half-banner" />
    </div>

    <div class="carousel">
      <vtex:contentPlaceHolder id="vitrina 1" />
    </div>

    <div class="bannerHtml">
      <h2>
        <vtex:contentPlaceHolder id="titulo 1" />
      </h2>
      <vtex:contentPlaceHolder id="bannerHtml 1" />
    </div>

    <div class="carousel">
      <vtex:contentPlaceHolder id="vitrina 2" />
    </div>

    <div class="categorias">
      <vtex:contentPlaceHolder id="categorias" />
    </div>

    <div class="bannerHtml">
      <h2>
        <vtex:contentPlaceHolder id="titulo 2" />
      </h2>
      <vtex:contentPlaceHolder id="bannerHtml 2" />
    </div>
  </main>

  <!-- Footer -->
  <vtex:template id="00-footer" />

  <!-- JS -->
  <script type="text/javascript" src="/arquivos/inmmerce59.js"></script>
</body>
</html>