.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #222;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container_icons {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  padding: 30px 30px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #222;
  padding: 20px;
  width: 120px;
  height: 100px;
  color: #ff0064;
  margin: 30px;
}

.item span {
  margin-top: 5px;
  color: #222;
  font-size: 12px;
}
