<footer class="footer">
  <div class="container containerFooter">
    <div class="box-1">
      <a href="/">
      </a>

      <form>
        <legend>Newsletter</legend>
        <input type="text" placeholder="Tu email" id="email" />
        <button>
          <i class="fas fa-paper-plane"></i>
        </button>
      </form>
      <ul>
        <li><i class="fab fa-cc-visa"></i></li>
        <li><i class="fab fa-cc-mastercard"></i></li>
        <li><i class="fab fa-cc-amex"></i></li>
        <li><i class="fab fa-cc-diners-club"></i></li>
      </ul>
    </div>

    <div class="box-2">
      <nav>
        <ul>
          <li>
            <h3>Institucional</h3>
          </li>
          <li><a href="/">Sobre la empresa</a></li>
          <li><a href="/">Formadores</a></li>
          <li><a href="/">Terminos y condiciones</a></li>
          <li><a href="/"></a>Trabaja con nosotros</li>
          <li><a href="/">Sustentabilidad</a></li>
        </ul>
        <ul>
          <li>
            <h3>Dudas</h3>
          </li>
          <li><a href="/">Sobre la empresa</a></li>
          <li><a href="/">Formadores</a></li>
          <li><a href="/">Terminos y condiciones</a></li>
          <li><a href="/"></a>Trabaja con nosotros</li>
          <li><a href="/">Sustentabilidad</a></li>
        </ul>
        <ul>
          <li>
            <h3>Contactanos</h3>
          </li>
          <li><a href="/">Sobre la empresa</a></li>
          <li><a href="/">Formadores</a></li>
          <li><a href="/">Terminos y condiciones</a></li>
          <li><a href="/"></a>Trabaja con nosotros</li>
          <li><a href="/">Sustentabilidad</a></li>
        </ul>
      </nav>

      <div class="footer">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </p>

        <p>Dirección 11681 - Providencia - Chipre</p>

        <small>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type
          specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged.
        </small>
      </div>
    </div>
  </div>
</footer>