.poweredByImage {
  height: 30px;
}
.acceptedPaymentMethodContainer {
  justify-content: center;
  align-items: center;
}

.socialNetworkWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerLayout {
  background: #ededed;
}