.preHeader {
  background: #efefef;
  .containerPreHeader {
    @extend.flexbox;
    height: 30px;

    .welcome {
      font-size: 12px;
      em {
        font-style: normal;
      }
      a {
        color: $font-gris;
        cursor: pointer;
      }
    }

    .navPreHeader {
      @extend.flexbox;

      a {
        text-decoration: none;
        font-size: 12px;
        color: $font-gris;
        &:not(:last-of-type) {
          margin-right: 10px;
        }
      }
    }
  }
}

.header, .menu {
  background: #fff;
}

.header {
  .containerHeader {
    @extend.flexbox;
    height: 80px;
    .brand {
      a {
        display: flex;
        svg {
          height: 60px;
          width: auto;
        }
      }
    }

    .navHeader {
      a {
        color: $font-gris;
        text-decoration: none;
      }
    }

    .fullTextSearchBox {
      flex: 1;
      padding: 0 25px;

      .busca {
        border: 1px solid $linea-gris;
        border-radius: 6px;
        min-width: 300px;
        padding: 2px;
        position: relative;
        legend, label, select {
          display: none;
        }

        .ui-autocomplete {
          position: absolute !important;
          top: 43px !important;
          left: 0 !important;
          display: block !important;
          width: 100% !important;
          background: #fff;
          border: 1px solid $linea-gris;
        }

        .fulltext-search-box {
          background: #fff;
          border: 0;
          font-family: $font-family;
          font-size: 16px;
          height: 38px;
          padding: 0 15px;
          vertical-align: top;
          width: calc(100% - 40px);
        }

        .btn-buscar {
          background: #fff;
          border: 0;
          cursor: pointer;
          font-family: 'Font Awesome 5 Free';
          font-size: 16px;
          font-weight: bold;
          height: 40px;
          width: 40px;
        }
      }
    }

    .amountItemsInCart {
      margin-left: 20px;
      .portal-totalizers-ref {
        .amount-items-in-cart {
          @extend.flexbox;
          &::before {
            content: '\f07a';
            font-family: 'Font Awesome 5 Free';
            font-size: 24px;
            font-weight: bold;
            margin-right: 10px;
          }

          .cartInfoWrapper {
            .title {
              #MostraTextoXml1 {
                font-size: 0;
                &::after {
                  content: 'Mi Carrito';
                  font-size: 16px;
                  font-weight: 600;
                }
              }
            }

            .cart-info {
              .amount-products, .amount-kits, .total-cart {
                display: none;
              }
            }
          }
        }
      }
    }

  }
}


nav.menu {
  .containerMenu {
    align-items: center;
    display: flex;
    height: 40px;
    .title {
      font-size: 16px;
      span {
        margin: 0 10px;
      }
    }

    .departmentLinks {
      ul {
        @extend.flexbox;
        li {
          font-size: 16px;
          padding: 0 20px;
          a {
            color: $font-gris;
            text-decoration: none;
          }
        }
      }
    }
  }
}
